@font-face {
    font-family: 'Krona One';
    src: url('../../assets/KronaOne-Regular.ttf') format('truetype');
  }

.container {
    display: grid;
    grid-template-columns: repeat(7, 14.28%); /* Seven columns that take up the full width */
    grid-template-rows: repeat(8, 12.5%); /* Seven rows */
    position: absolute; /* Enable absolute positioning inside */
    width: 100%; /* Full width of the parent */
    height: 100vh; /* Full viewport height */
    z-index: 1; /* Higher stack order */
}
.background {
    width: 100%; /* Ensure full width */
    height: 100%; /* Ensure full height */
    object-fit: cover; /* Make sure the image covers the entire container */
    position: absolute; /* Make the image sticky */
    z-index: 0; /* Make sure the background is behind the content */
}

.animationContainer {
    transform: scale(var(--scale-factor)); /* Adjusted scale factor */
    grid-row: 4 / 7; /* Make the container take up the full height */
    grid-column: 1 / span 3; /* Make the container take up the second column */
    z-index: 4; /* Make sure the container is on top of the background */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Align items horizontally */
    display: flex; /* Enable flexbox */
}

.logo {
    width: 200px; /* Default width */
    height: auto; /* Default height */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    grid-column: 1 / span 2;
    margin-left: 50px; /* Adjusted margin */
}

.signInUp {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1; /* Make the buttons take up the fourth row */
    grid-column:  6 /span 7; /* Make the buttons take up the full width */
}

.textInfo {
    margin-right: 50px;
    color: aliceblue; /* Adjusted color */
    grid-row: 4; /* Make the text take up the second row */
    grid-column: 4 / span 7; /* Make the text take up the third column */
    scrollbar-color: rgba(102, 252, 241, 0.5) rgba(0, 0, 0, 0); /* Adjusted scrollbar color */
}

.textInfo::-webkit-scrollbar {
    width: 10px; /* Adjusted scrollbar width */
    scrollbar-width: thin; /* Adjusted scrollbar width */
    scrollbar-color: #66FCF1 rgba(0, 0, 0, 0); /* Adjusted scrollbar color */
}

.tryNow {
    font-size: larger;
    grid-row: 7; /* Make the button take up the fourth row */
    grid-column:  4; /* Make the button take up the third column */
    color: aliceblue;
    align-self: center; /* Align vertically to the center */
    justify-self: center; /* Align horizontally to the center */
}

.tryNow a {
    position: relative; /* Sets a stacking context for the pseudo-element */
    display: inline-block; /* Ensures the pseudo-element aligns correctly */
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherits color from parent or can set a specific color */
}

.tryNow a:after {
    content: ''; /* Necessary for the pseudo-element to show */
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust as necessary to move the line closer or farther from text */
    width: 0; /* Start with no underline visible */
    height: 2px; /* Thickness of the underline */
    background-color: #66FCF1; /* Aqua color for the underline */
    transition: width 0.3s ease; /* Animation for the underline */
}

.tryNow a:hover:after, .tryNow a:focus:after {
    width: 100%; /* Extend underline across the full width on hover */
}

.animationDelay {
    animation: fadeIn 2s forwards;
    opacity: 0;
}

.slowMotionText span {
    opacity: 0;
    animation: fadeIn 2s forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.shortStory {
    margin-top: 10px;
    color: #7D7373;
    height: 12rem; 
    overflow-y: auto; 
    text-shadow: 2px 2px 15px #000000;
  }


@media screen and (max-width: 1000px) {
    .tryNow
    {
        display: none;
    }
    .animationContainer {
        grid-row: 6 / 7;
        grid-column: 1 / span 7;
    }
    .textInfo {
        transform: scale(0.8);
        margin-bottom: 500px;
        margin-left: 50px;
        grid-row: 2 / span 7;
        grid-column: 1 / span 7;
    }
    .signInUp
    {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        font-size: smaller;
    }
}

@media screen and (max-width: 650px) {
    .animationContainer {
        display: none;
    }
    .textInfo {
        transform: scale(1);
        grid-row: 2 / span 7;
        grid-column: 1 / span 7;
    }
    .logo {
        height: 150px;
        width: 150px;
    }
    .signInUp {
        width: auto;
        position: absolute;
        bottom: 25%;
        right: 99%;
    }
}


