@font-face {
    font-family: 'montserrat';
    src: url('../../assets/Montserrat-VariableFont_wght.ttf') format('truetype');
  }
.chatContainer
{
    font-family: 'montserrat';
    grid-column: 2;
    grid-row: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 11;
    animation: fadein 1s;
}

@keyframes fadein
{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media screen and (max-width: 768px)
{
    .chatContainer
    {
        grid-column: 1 span 2;
        grid-row: 2;
    }
}